body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:331px;
  width:1120px;
  height:73px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:73px;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:235px;
  top:335px;
  width:240px;
  height:65px;
  font-size:20px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
}
#u3 {
  position:absolute;
  left:0px;
  top:21px;
  width:240px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:258px;
  width:1120px;
  height:73px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:73px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-10px;
  top:30px;
  width:200px;
  height:630px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:630px;
}
#u7 {
  position:absolute;
  left:2px;
  top:307px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:610px;
  top:0px;
  width:81px;
  height:45px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:55px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:175px;
  width:190px;
  height:65px;
  color:#00CCFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:186px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u14 {
  position:absolute;
  left:180px;
  top:102px;
  width:1120px;
  height:73px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:73px;
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:45px;
  width:190px;
  height:65px;
  color:#00CCFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:186px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:110px;
  width:190px;
  height:65px;
  color:#00CCFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
}
#u19 {
  position:absolute;
  left:2px;
  top:21px;
  width:186px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1205px;
  top:0px;
  width:30px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1200px;
  top:0px;
  width:40px;
  height:45px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:240px;
  top:106px;
  width:240px;
  height:65px;
  font-size:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
}
#u25 {
  position:absolute;
  left:0px;
  top:21px;
  width:240px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:800px;
  top:110px;
  width:62px;
  height:62px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u27 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:213px;
  top:181px;
  width:240px;
  height:65px;
  font-size:20px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
}
#u29 {
  position:absolute;
  left:0px;
  top:21px;
  width:240px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:800px;
  top:182px;
  width:62px;
  height:62px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u31 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:213px;
  top:266px;
  width:240px;
  height:65px;
  font-size:20px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:65px;
}
#u33 {
  position:absolute;
  left:0px;
  top:21px;
  width:240px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:721px;
  top:274px;
  width:220px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:910px;
  top:284px;
  width:20px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:750px;
  top:280px;
  width:130px;
  height:29px;
  font-family:'Cambria Regular', 'Cambria';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
}
#u39 {
  position:absolute;
  left:0px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:800px;
  top:336px;
  width:62px;
  height:62px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u41 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
